[Unit]
Description=SSH Reverse Agent China

[Service]
ExecStart=/usr/bin/ssh -fR ali0:20322:localhost:22 bamvor@ali0 "while true; do sleep 3600; done"
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=10
Type=forking

[Install]
WantedBy=multi-user.target

