[Unit]
Description=SSH Reverse Agent Us

[Service]
ExecStart=/usr/bin/ssh -fNR linode0:20322:localhost:22 bamvor@linode0
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=10
Type=forking

[Install]
WantedBy=multi-user.target

